
/* -----------------------Footer----------------------------- */
#footer{
    position: relative;
    margin-bottom: 10px;
    height: 50px;
    width: 100%;
    border: 1px solid black;
    background: rgb(163, 161, 161);
}